input{
    border-right: 0px;
    border-color: black;
    margin-top: 15px;
    border-radius:05px 0px 0px 05px ;
    height: 05vh;

}
button{
    background-color: black;
    color: white;
    border-radius:00px 05px 05px 00px ;
    height: 05vh;
    margin-top: 15px;
}
.container{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}