input{
    /* border-right: 0px; */
    border-color: black;
    margin-top: 15px;
    border-radius:05px 05px 05px 05px ;
    height: 05vh;

}
button{
    background-color: black;
    color: white;
    /* border-radius:00px 05px 05px 00px ; */
    height: 05vh;
    margin-top: 10px;
    
}
.container{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.box{
    background-color: aqua;
    width: 40vh;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px;
   
    
    }